/* Main Banner Components */
.MainBanner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.MainBanner > section {
  position: relative;
  width: 100%;
  height: 100%;
}
.sliderBullet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 10px;
  position: absolute;
  z-index: 30;
  left: 50vw;
  bottom: 3rem;
  transform: translateX(-50%);
}
.sliderBullet > .bullet {
  width: 60px;
  height: 10px;
  background-color: #727272;
}
.sliderBullet > .bullet.active {
  background-color: #ffffff;
}
.mainVisual_header {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 6rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}
.mainVisual_header > button {
  border: none;
  background-color: transparent;
  text-align: center;
}
.mainVisual_header > button:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e1e1e1;
}
.mainVisual_header > button:nth-child(2) {
  font-size: 72px;
  font-weight: 700;
}
.mainVisual_header > button:nth-child(3) {
  width: 54px;
  height: 37px;
}
.mainVisual_header > button:nth-child(3) > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* Company Info Components */
.CompanyInfo {
  width: 100%;
  height: 100vh;
  background-color: #232730;
}

/* Login */
.loginBox {
  position: fixed;
  width: 680px;
  height: 380px;
  z-index: 99;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: #2d2d2d;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.loginBox > img {
  width: 18px;
  height: 18px;
  float: right;
  margin: 1rem;
}
.loginBox > h2 {
  margin: 19px auto 2rem;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.loginBox > form > input[type="text"] {
  display: block;
  width: 460px;
  height: 70px;
  padding: 0 1rem;
  margin: auto;
  color: black;
  font-size: 24px;
  line-height: 70px;
}
/* Sign-In */
